.cards > ul {
  list-style: none;
  padding: 0;
  display: grid;
  gap: var(--spacing-400);
}


.cards .card-click {
  cursor: pointer;
}

.cards .card-captioned {
  font-size: 0.875em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.cards .card-image {
  line-height: 0;
  overflow: hidden;
}

/* stylelint-disable no-descending-specificity */

/* articles variant */
.cards.articles h2,
.cards.articles h3 {
  font-size: var(--font-size-200);
}

.cards.articles a {
  text-decoration: none;
}

.cards.articles > ul li {
  margin: 0 auto;
  max-width: 400px;
}

.cards.articles > ul li:hover .card-image img {
  transform: scale(1.04);
}

.cards.articles .card-image {
  border-radius: var(--rounding-m);
}

.cards.articles .card-image img {
  width: 100%;
  height: 208px;
  object-fit: cover;
  transition: transform 0.4s;
}

.cards.articles .card-body {
  padding: var(--spacing-400) 0 0 var(--spacing-300);
}

.cards.articles .card-body p:not(.eyebrow) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (width >= 800px) {
  .cards.articles h2,
  .cards.articles h3 {
    font-size: var(--font-size-700);
  }

  .cards.articles > ul li {
    max-width: 600px;
  }

  .cards.articles .card-body {
    padding: var(--spacing-700) var(--spacing-700) 0;
  }

  .cards.articles .card-body .button {
    min-width: 150px;
  }
}

@media (width >= 1000px) {
  .cards.articles > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-700);
    padding: 0 var(--spacing-300);
  }

  .cards.articles > ul li {
    max-width: unset;
  }

  .cards.articles .card-image img {
    height: 324px;
  }
}

/* grid variant */
.cards.grid,
.cards.knockout {
  text-align: center;
}

.cards.grid img,
.cards.grid svg {
  max-width: 64px;
  max-height: 64px;
}

.cards.grid .card-body {
  color: var(--color-gray);
}

.cards.grid ul > li,
.cards.knockout ul > li {
  margin: 0 auto;
  max-width: 400px;
  padding: 0 var(--spacing-100);
}

@media (width >= 800px) {
  .cards.grid ul,
  .cards.knockout ul {
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .cards.grid img,
  .cards.grid svg {
    max-width: 80px;
    max-height: 80px;
  }

  .cards.grid .card-captioned {
    font-size: 1.125em;
  }

  .cards.grid .card-captioned p {
    margin-top: var(--spacing-100);
  }

  .cards.grid ul > li {
    max-width: 280px;
  }
}

@media (width >= 1000px) {
  .cards.grid ul,
  .cards.knockout ul {
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }

  .cards.grid ul > li,
  .cards.knockout ul > li {
    position: relative;
    border: 1px solid var(--color-gray-300);
    padding: var(--spacing-600) var(--spacing-400);
    overflow: hidden;
    transition: border-color 0.2s;
  }

  .cards.grid ul > li + li,
  .cards.knockout ul > li + li {
    border-left-color: transparent;
  }

  .cards.grid ul > li:hover {
    border-color: var(--color-charcoal);
  }

  .cards.grid ul > li .card-body {
    position: absolute;
    inset: 0;
    transform: translateY(var(--spacing-100));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-100);
    background-color: var(--overlay-light);
    opacity: 0;
    transition: transform 0.6s, opacity 0.6s;
  }

  .cards.grid ul > li:hover .card-body {
    transform: translateY(0);
    opacity: 1;
  }
}

/* knockout variant */
.cards.knockout {
  margin: auto;
  width: max-content;
  max-width: 100%;
  font-size: var(--detail-size-s);
}

.cards.knockout picture {
  display: block;
  border-radius: var(--rounding-m);
  padding: var(--spacing-300) 0;
  background-color: var(--color-gray-100);
}

.cards.knockout picture img {
  width: 100%;
  max-width: 104px;
  height: auto;
  transition: transform 0.4s;
}

.cards.knockout a {
  color: var(--color-charcoal);
  font-weight: bold;
  text-decoration: none;
}

.cards.knockout > ul {
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

.cards.knockout > ul li {
  position: relative;
  width: 100%;
  max-width: 200px;
  border: 1px solid var(--color-gray-300);
  padding: var(--spacing-100);
  transition: border-color 0.2s;
}

.cards.knockout ul > li + li {
  border-top-color: var(--color-gray-300);
}

.cards.knockout > ul li:hover {
  border-color: var(--color-charcoal) !important;
}

.cards.knockout ul > li:nth-child(2n) {
  border-left-color: transparent;
}

.cards.knockout ul > li:nth-child(n + 3) {
  border-top-color: transparent;
}

.cards.knockout > ul li::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: var(--color-charcoal);
  z-index: -1;
  transition: height 0.4s;
}

.cards.knockout > ul li:hover::after {
  height: 100%;
}

.cards.knockout > ul li:hover a {
  color: var(--color-white);
}

.cards.knockout > ul li:hover picture img {
  transform: translateY(-1ch);
}

@media (width >= 800px) {
  .cards.knockout {
    font-size: var(--body-size-l);
  }

  .cards.knockout picture {
    margin: auto;
    width: 190px;
    max-width: 100%;
  }

  .cards.knockout picture img {
    max-width: 151px;
  }

  .cards.knockout > ul li {
    max-width: 300px;
    padding: var(--spacing-700);
  }
}

@media (width >= 1000px) {
  .cards.knockout picture {
    width: unset;
  }

  .cards.knockout ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .cards.knockout ul > li {
    padding: var(--spacing-600) var(--spacing-400);
  }

  .cards.knockout ul > li:nth-child(2n),
  .cards.knockout ul > li:nth-child(n + 3) {
    border-top-color: var(--color-gray-300);
    border-left-color: transparent;
  }
}
