.cards > ul {
  list-style: none;
  padding: 0;
  display: grid;
  gap: var(--spacing-400);
}

.cards .card-click {
  cursor: pointer;
}

.cards .card-captioned {
  font-size: 0.875em;
  font-weight: 500;
  letter-spacing: var(--letter-spacing-m);
  text-transform: uppercase;
}

.cards .card-captioned .img-wrapper {
  margin-bottom: var(--spacing-100);
}

.cards .card-image {
  line-height: 0;
  overflow: hidden;
}

/* stylelint-disable no-descending-specificity */

/* articles variant */
.cards.articles h2,
.cards.articles h3 {
  font-size: var(--font-size-200);
}

.cards.articles a {
  text-decoration: none;
}

.cards.articles > ul li {
  margin: 0 auto;
  max-width: 400px;
}

.cards.articles > ul li:hover .card-image img {
  transform: scale(1.04);
}

.cards.articles .card-image {
  border-radius: var(--rounding-m);
}

.cards.articles .card-image img {
  width: 100%;
  height: 208px;
  object-fit: cover;
  transition: transform 0.4s;
}

.cards.articles .card-body {
  padding: var(--spacing-400) 0 0 var(--spacing-300);
}

.cards.articles .card-body p:not(.eyebrow) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (width >= 800px) {
  .cards.articles h2,
  .cards.articles h3 {
    font-size: var(--font-size-700);
  }

  .cards.articles > ul li {
    max-width: 600px;
  }

  .cards.articles .card-body {
    padding: var(--spacing-700) var(--spacing-700) 0;
  }
}

@media (width >= 1000px) {
  .cards.articles > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-700);
    padding: 0 var(--spacing-300);
  }

  .cards.articles > ul li {
    max-width: unset;
  }

  .cards.articles .card-image img {
    height: 324px;
  }
}

/* grid + knockout variants */
.cards.grid,
.cards.knockout {
  text-align: center;
}

.cards.grid ul > li,
.cards.knockout ul > li {
  max-width: 400px;
  margin: 0 auto;
}

@media (width >= 800px) {
  .cards.grid ul,
  .cards.knockout ul {
    margin: 0 auto;
  }
}

@media (width >= 1000px) {
  .cards.grid ul,
  .cards.knockout ul {
    gap: 0;
    max-width: unset;
  }
}

/* grid variant */
.cards.grid img,
.cards.grid svg {
  max-width: 64px;
  max-height: 64px;
}

.cards.grid .card-body {
  padding: 0 var(--spacing-100);
  color: var(--color-gray);
}

@media (width >= 800px) {
  .cards.grid ul {
    max-width: 600px;
    gap: var(--spacing-200);
  }

  .cards.grid ul.rows-2,
  .cards.grid ul.rows-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards.grid ul.rows-2 > li,
  .cards.grid ul.rows-4 > li {
    max-width: 280px;
  }

  .cards.grid img,
  .cards.grid svg {
    max-width: 80px;
    max-height: 80px;
  }

  .cards.grid .card-captioned {
    font-size: 1.125em;
  }

  .cards.grid .card-captioned p {
    margin-top: var(--spacing-100);
  }
}

@media (width >= 1000px) {
  .cards.grid ul {
    max-width: unset;
  }

  .cards.grid ul > li {
    position: relative;
    border: 1px solid var(--color-gray-300);
    padding: var(--spacing-600) var(--spacing-400);
    overflow: hidden;
    transition: border-color 0.2s;
    cursor: context-menu;
  }

  .cards.grid ul.rows-2,
  .cards.grid ul.rows-3,
  .cards.grid ul.rows-4 {
    gap: 0;
  }

  .cards.grid ul.rows-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards.grid ul.rows-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .cards.grid ul.rows-1 > li,
  .cards.grid ul.rows-2 > li,
  .cards.grid ul.rows-3 > li,
  .cards.grid ul.rows-4 > li {
    width: 100%;
    max-width: unset;
  }

  .cards.grid ul.rows-2 > li + li,
  .cards.grid ul.rows-3 > li:nth-child(3n),
  .cards.grid ul.rows-3 > li:nth-child(3n - 1),
  .cards.grid ul.rows-4 > li:nth-child(4n),
  .cards.grid ul.rows-4 > li:nth-child(4n - 1),
  .cards.grid ul.rows-4 > li:nth-child(4n - 2) {
    border-left-color: transparent;
  }

  .cards.grid ul.rows-3 > li:nth-child(n + 4),
  .cards.grid ul.rows-4 > li:nth-child(n + 5) {
    border-top-color: transparent;
  }

  .cards.grid ul > li:hover {
    border-color: var(--color-charcoal) !important;
  }

  .cards.grid ul > li .card-body {
    position: absolute;
    inset: 0;
    transform: translateY(var(--spacing-100));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-100);
    background-color: var(--overlay-light);
    opacity: 0;
    transition: transform 0.6s, opacity 0.6s;
  }

  .cards.grid ul > li:hover .card-body {
    transform: translateY(0);
    opacity: 1;
  }
}

/* knockout variant */
.cards.knockout {
  margin: auto;
  width: max-content;
  max-width: 100%;
  font-size: var(--detail-size-s);
}

.cards.knockout picture {
  display: block;
  border-radius: var(--rounding-m);
  padding: var(--spacing-300) 0;
  background-color: var(--color-gray-100);
}

.cards.knockout picture img {
  width: 100%;
  max-width: 104px;
  height: auto;
  transition: transform 0.4s;
}

.cards.knockout a {
  color: var(--color-charcoal);
  text-decoration: none;
}

.cards.knockout > ul {
  gap: 0;
}

.cards.knockout > ul.rows-2,
.cards.knockout > ul.rows-4 {
  grid-template-columns: repeat(2, 1fr);
}

.cards.knockout > ul.rows-2 > li:nth-child(2n),
.cards.knockout > ul.rows-4 > li:nth-child(2n) {
  border-left-color: transparent;
}

.cards.knockout > ul.rows-2 > li:nth-child(n + 3),
.cards.knockout > ul.rows-4 > li:nth-child(n + 3) {
  border-top-color: transparent;
}

.cards.knockout > ul.rows-1 > li + li,
.cards.knockout > ul.rows-3 > li + li {
  border-top-color: transparent;
}

.cards.knockout > ul li {
  position: relative;
  width: 100%;
  max-width: 200px;
  border: 1px solid var(--color-gray-300);
  padding: var(--spacing-100);
  transition: border-color 0.2s;
  z-index: 1;
}

.cards.knockout > ul li:hover {
  border-color: var(--color-charcoal) !important;
}

.cards.knockout > ul li::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: var(--color-charcoal);
  z-index: -1;
  transition: height 0.4s;
}

.cards.knockout > ul li:hover::after {
  height: 100%;
}

.cards.knockout > ul li:hover a {
  color: var(--color-white);
}

.cards.knockout > ul li:hover picture img {
  transform: translateY(-0.5ch);
}

@media (width >= 600px) {
  .cards.knockout > ul.rows-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards.knockout > ul.rows-3 > li:nth-child(n + 4) {
    border-top-color: transparent;
  }

  .cards.knockout > ul.rows-3 > li:nth-child(3n),
  .cards.knockout > ul.rows-3 > li:nth-child(3n - 1) {
    border-left-color: transparent;
  }

  .cards.knockout > ul.rows-3 > li + li {
    border-top-color: var(--color-gray-300);
  }
}

@media (width >= 800px) {
  .cards.knockout {
    font-size: var(--body-size-l);
  }

  .cards.knockout > ul > li {
    max-width: 300px;
  }

  .cards.knockout > ul.rows-2 li,
  .cards.knockout > ul.rows-4 li {
    padding: var(--spacing-700);
  }

  .cards.knockout picture img {
    max-height: 151px;
    max-width: 151px;
  }
}

@media (width >= 1000px) {
  .cards.knockout {
    width: unset;
  }

  .cards.knockout > ul > li {
    max-width: unset;
  }

  .cards.knockout > ul.rows-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .cards.knockout ul.rows-4 > li,
  .cards.knockout ul.rows-4 > li:nth-child(n + 3) {
    padding: var(--spacing-600) var(--spacing-400);
    border-top-color: var(--color-gray-300);
  }

  .cards.knockout ul.rows-4 > li:nth-child(4n),
  .cards.knockout ul.rows-4 > li:nth-child(4n - 1),
  .cards.knockout ul.rows-4 > li:nth-child(4n - 2) {
    border-left-color: transparent;
  }
}

/* linked variant */
.cards.linked ul {
  gap: 0;
}

.cards.linked ul > li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-top: 1px solid var(--color-gray-500);
  padding: var(--spacing-80) 0;
  font-size: var(--body-size-s);
  font-weight: 500;
}

.cards.linked ul > li a {
  text-decoration: none;
  text-transform: uppercase;
}

.cards.linked ul > li .card-image {
  justify-self: center;
}

.cards.linked ul > li .card-image img {
  width: auto;
  max-height: 85px;
}

@media (width >= 800px) {
  .cards.linked ul {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-100);
  }

  .cards.linked ul > li {
    display: block;
    border-top: 0;
    font-weight: unset;
    text-align: center;
  }

  .cards.linked ul > li a {
    font-family: var(--serif-font-family);
    font-size: var(--body-size-l);
    line-height: var(--line-height-xxs);
    text-transform: unset;
  }

  .cards.linked ul > li .card-image {
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray-200);
  }

  .cards.linked ul > li .card-image img {
    width: 100%;
    max-height: unset;
  }
}
