.pdp {
  display: grid;
  row-gap: 24px;
  column-gap: 32px;
  padding-top: 32px;
  font-family: var(--font-family-body);

  grid-template-columns: 1fr;
  grid-template-areas: 
    "title"
    "gallery"
    "pricing"
    "options"
    "details"
    "specs";
}

.pdp .eyebrow {
  font-family: var(--heading-font-family);
  font-size: var(--font-size-200);
  font-weight: var(--weight-light);
  color: var(--color-text);
  text-transform: none;
}

.pdp h1 {
  font-family: var(--body-font-family);
  font-size: var(--font-size-950);
  font-weight: var(--weight-light);
}

@media (min-width: 768px) {
  .pdp {
    padding-top: 64px;
    grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
    grid-template-areas: 
      "title gallery"
      "pricing gallery"
      "options gallery"
      "details gallery"
      "specs gallery";
  }
}

.title {
  grid-area: title;
}

.pricing {
  grid-area: pricing;
}

.options {
  grid-area: options;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.selection {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.selected-option-label {
  font-size: var(--body-size-s);
  font-weight: var(--weight-medium);
  color: var(--color-text);
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.color-swatch {
  width: 24px;
  height: 24px;
  border: 1px solid #333f48;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}

.color-inner {
  width: 16px;
  height: 16px;
  border: 1px solid #333f48;
  border-radius: 50%;
}

.color-swatch.shadow-black .color-inner {
  background-color: #000000;
}

.color-swatch.polar-white .color-inner {
  background-color: #ffffff;
}

.color-swatch.nano-gray .color-inner {
  background-color: #5b6770;
}

.color-swatch.midnight-blue .color-inner {
  background-color: #00263e;
}

.warranty {
  font-size: var(--body-size-s);
  font-weight: var(--weight-medium);
  color: var(--color-text);
}

.details {
  grid-area: details;
}

.specs {
  grid-area: specs;
}

.gallery {
  grid-area: gallery;
}

.gallery p:not(:first-of-type) {
  display: none;
}


/** Pricing */
.pricing-now {
  font-size: var(--font-size-200);
  font-weight: var(--weight-light);
  color: var(--color-text);
}

.pricing-final {
  font-size: var(--font-size-750);
  font-weight: var(--weight-medium);
  color: var(--color-text);
}

.pricing-savings {
  font-size: var(--body-size-s);
  font-weight: var(--weight-light);
  color: var(--color-gray-800);
  padding-bottom: var(--spacing-m);
}

/** TEMPORARY */
.reviews-placeholder,
.payments-placeholder {
  width: auto;
}

