.columns {
  text-align: center;
}

.columns .button-wrapper {
  justify-content: center;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .column-img {
  order: 0;
}

.columns > div > .column-img img {
  display: block;
}

@media (width >= 800px) {
  .columns {
    text-align: unset;
  }

  .columns .button-wrapper {
    justify-content: unset;
  }

  .columns > div {
    flex-direction: unset;
    gap: var(--spacing-400);
  }

  .columns > div > div {
    order: unset;
    flex: 1;
  }

  .columns > div > .column-button {
    max-width: max-content;
    align-self: flex-end;
  }
}
