.hotspot {
  overflow: auto hidden;
}

.hotspot .caption {
  padding: var(--horizontal-spacing);
  background-color: var(--image-color);
  text-align: center;
}

.hotspot .caption .eyebrow {
  color: inherit;
}

.hotspot.image-darkest .caption,
.hotspot.image-dark .caption {
  color: var(--color-white);
}

.hotspot.image-light .caption,
.hotspot.image-lightest .caption {
  color: var(--color-charcoal);
}

.hotspot .svg-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.hotspot svg {
  display: block;
  width: 100%;
  height: auto;
  max-height: unset;
}

.hotspot button.hs {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border: 0;
  border-radius: 50%;
  padding: 0;
  background-color: #fff5;
  transition: transform 0.4s;
}

@media (width >= 700px) {
  .hotspot button.hs {
    display: flex;
  }
}

.hotspot button.hs[aria-expanded="true"] {
  transform: translate(-50%, -50%) rotate(135deg);
}

.hotspot button.hs:hover {
  background-color: #fffb;
}

.hotspot button.hs::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  z-index: -1;
  animation: pulse 2.5s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.hotspot [popover] {
  position: absolute;
  transform: translate(-50%, calc(-100% - 22px));
  width: calc(160px + (var(--spacing-100) * 2));
  margin: 0;
  border: 0;
  border-radius: var(--rounding-m);
  padding: var(--spacing-100);
  background-color: var(--color-white);
  font-size: var(--body-size-xs);
  text-align: center;
}

.hotspot [popover] p {
  margin: 0;
}

.hotspot [popover] strong {
  font-size: var(--body-size-m);
}

.hotspot [popover] img {
  max-width: 160px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: var(--spacing-100);
  border-radius: var(--rounding-m);
}

.hotspot i.glyph {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-white);
}

@media (width >= 700px) {
  .hotspot i.glyph {
    width: 22px;
    height: 22px;
  }
}

.hotspot i.glyph::before,
.hotspot i.glyph::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 3px;
  border-radius: var(--rounding-s);
  background-color: var(--color-gray-800);
}

.hotspot i.glyph::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

/* EDITING MODE */
.hotspot button.edit {
  position: absolute;
  top: var(--spacing-xs);
  right: var(--spacing-xs);
  padding: var(--spacing-s);
  z-index: 1;
}

.hotspot .tooltip {
  display: none;
  position: absolute;
  padding: var(--spacing-xs);
  border-radius: var(--rounding-m);
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: monospace;
  font-size: var(--body-size-xs);
  cursor: copy;
  transition: border-radius 0.2s, background-color 0.2s;
}

.hotspot .tooltip.copied,
.hotspot .tooltip:hover {
  background-color: var(--color-green);
}

.hotspot .tooltip.copied {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.hotspot .tooltip.copied::after {
  content: 'Copied coordinates to clipboard!';
  position: absolute;
  bottom: 100%;
  right: 0;
  width: max-content;
  border-radius: var(--rounding-m);
  border-bottom-right-radius: 0;
  padding: var(--spacing-xs);
  background-color: var(--color-green);
  font-family: var(--body-font-family);
  text-align: center;
  z-index: 1;
}

.hotspot[data-editing="true"] .tooltip[aria-hidden="false"] {
  display: unset;
}

.hotspot[data-editing="true"] button.hs {
  cursor: grab;
  user-select: none;
}

.hotspot[data-editing="true"] button.hs::after {
  content: none;
  animation: none;
}

.hotspot[data-editing="true"] button.hs[data-unplaced]::before {
  content: attr(title);
  position: absolute;
  top: calc(100% - var(--spacing-xs));
  left: 50%;
  width: max-content;
  border-radius: var(--rounding-m);
  padding: var(--spacing-xs);
  background-color: var(--color-gray-900);
  color: var(--color-white);
  font-size: var(--body-size-xs);
  animation: none;
}

.hotspot[data-editing="true"] button.hs[data-unplaced="true"] {
  background-color: #fbdbe155;
  transform: translate(-50%, -50%);
}

.hotspot[data-editing="true"] button.hs[data-unplaced="false"] {
  background-color: #8f720055;
  transform: translate(-50%, -50%);
}

.hotspot[data-editing="true"] button.hs[data-unplaced="true"]:hover {
  background-color: #fbdbe1bb;
}

.hotspot[data-editing="true"] button.hs[data-unplaced="false"]:hover {
  background-color: #8f7200bb;
}

.hotspot[data-editing="true"] button.hs[aria-dragging="true"] {
  cursor: grabbing;
}

.hotspot[data-editing="true"] button.hs[data-unplaced="true"][aria-dragging="true"]:hover {
  background-color: #fbdbe1bb;
}

.hotspot[data-editing="true"] button.hs[data-unplaced="false"][aria-dragging="true"]:hover {
  background-color: #8f7200bb;
}

.hotspot[data-editing="true"] button.hs[data-unplaced="true"] i.glyph {
  background-color: var(--color-red);
}

.hotspot[data-editing="true"] button.hs[data-unplaced="false"] i.glyph {
  background-color: var(--color-yellow);
}

.hotspot[data-editing="true"] button.hs[data-unplaced="true"] i.glyph::before,
.hotspot[data-editing="true"] button.hs[data-unplaced="true"] i.glyph::after {
  background-color: #fbdbe1;
}

.hotspot[data-editing="true"] button.hs[data-unplaced="false"] i.glyph::before,
.hotspot[data-editing="true"] button.hs[data-unplaced="false"] i.glyph::after {
  background-color: #8f7200;
}
