main > .locator-container.section {
  margin-top: 0;
  margin-bottom: 0;
}

.locator-container .locator-wrapper {
  margin: 0;
  padding: 0;
}

.locator .section.banner {
  flex-direction: column;
  gap: var(--spacing-300);
  height: 415px;
  padding: 0 var(--horizontal-spacing);
  text-align: unset;
}

.locator .section.banner > div {
  width: 100%;
  max-width: 1000px;
}

.locator h1 {
  text-align: center;
}

.locator label {
  color: var(--color-white);
}

.locator form {
  display: flex;
  flex-wrap: wrap;
  gap: 0 var(--spacing-100);
}

.locator form > * {
  flex: 1 1 100%;
}

.locator form [data-name='productType'] {
  flex: 1 1 55%;
}

.locator form .button-wrapper {
  flex: 1 1 100px;
  align-self: flex-end;
  margin-top: var(--spacing-100);
}

.locator form .button-wrapper button {
  width: 100%;
  max-height: 48px;
  padding: 0;
  line-height: 48px;
}

.locator form i.symbol.symbol-loading {
  border-color: var(--color-gray-500);
}

.locator form i.symbol.symbol-loading::after {
  border-right-color: var(--color-white);
}

@media (width >= 900px) {
  .locator form [data-name='location'] {
    flex: 1 1 45%;
  }

  .locator form [data-name='productType'] {
    flex: 1 1 25%;
  }

  .locator form .form-field + .form-field {
    margin-top: 0;
  }
}

