.carousel.block {
  /* background-color: var(--primary-hover-background); */
}

.carousel.block ul > li {
  flex: 0 0 100%;
  width: 100%;
  /* height: calc(100vw - (2 * 15px)); */
}

.carousel.block picture,
.carousel.block img {
  border-radius: var(--rounding-m);
}

.carousel.block nav button.nav-arrow {
  /* width: 0; */
  /* outline: 2px solid transparent; */
  /* font-size: var(--heading-font-size-m); */
  /* overflow: hidden; */
  /* opacity: 0; */
  /* pointer-events: none; */
  /* z-index: -1; */
  /* cursor: pointer; */
  /* transition: opacity 0.3s, width 0.3s; */
}

.carousel.block:hover nav button.nav-arrow {
  /* outline-color: var(--primary-hover-background); */
  /* opacity: 0.3; */
  /* width: var(--heading-font-size-xxl); */
  /* background: var(--primary-hover-background); */
  /* pointer-events: auto; */
  /* z-index: unset; */
}

.carousel.block nav button.nav-arrow:hover,
.carousel.block nav button.nav-arrow:focus {
  /* opacity: 0.7; */
  /* pointer-events: auto; */
}

/* testimonial variant */
.carousel.testimonial > ul > li {
  position: relative;
}

.carousel.testimonial .img-wrapper {
  margin-right: 25px;
}

.carousel.testimonial .img-wrapper img {
  width: 100%;
  max-height: 50dvh;
}

.carousel.testimonial .img-wrapper + div {
  position: relative;
  margin-top: -25px;
  margin-left: 25px;
  padding: var(--spacing-600) 25px calc(var(--spacing-600) - 25px) var(--spacing-700);
  background-color: var(--color-gray-100);
}

.carousel.testimonial .img-wrapper + div::before {
  content: url('../../icons/quote-mark.svg');
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40px;
  left: -25px;
  width: 50px;
  height: 50px;
  border-radius: var(--rounding-s);
  background-color: var(--color-charcoal);
  color: var(--color-white);
}

.carousel.testimonial .img-wrapper + div ul {
  padding: 0;
  font-size: var(--body-size-xxl);
}

.carousel.testimonial .img-wrapper + div ul li {
  margin-top: 25px;
  padding-top: 25px;
}

.carousel.testimonial .img-wrapper + div ul li::before {
  content: '';
  position: absolute;
  top: 0;
  width: 50px;
  height: 5px;
  background-color: var(--color-red);
}

.carousel.testimonial .img-wrapper + div ul em {
  font-size: initial;
  font-style: normal;
}

@media (width >= 600px) {
  .carousel.testimonial > ul > li {
    padding-bottom: 110px;
  }

  .carousel.testimonial .img-wrapper img {
    width: 100%;
    max-height: 33dvh;
  }

  .carousel.testimonial .img-wrapper + div {
    position: absolute;
    bottom: 0;
    margin-left: 75px;
    margin-top: 0;
    padding: var(--spacing-600) var(--spacing-700) var(--spacing-800);
    background-color: var(--color-gray-100);
  }
}

@media (width >= 800px) {
  .carousel.testimonial .img-wrapper + div ul li {
    margin-top: var(--spacing-600);
    padding-top: 0;
    padding-left: 75px;
  }

  .carousel.testimonial .img-wrapper + div ul li::before {
    top: 1.3ch;
    left: 0;
  }
}

@media (width >= 1000px) {
  .carousel.testimonial > ul > li {
    padding-bottom: 25px;
    font-size: var(--body-size-xxl);
  }

  .carousel.testimonial .img-wrapper + div {
    margin-left: 25%;
  }
}

/* carousel expansion */

.carousel {
  position: relative;
}

.carousel.expansion {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-m);
  gap: var(--spacing-m);
  z-index: 1;
}

.carousel.expansion.dark {
  color: var(--color-background);
}

/* stylelint-disable-next-line no-descending-specificity */
.carousel.expansion > div { flex: 1; }

.carousel.expansion .carousel-left picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.carousel.expansion .carousel-left img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel.expansion .carousel-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.expansion .carousel-center img, .carousel.expansion .carousel-center video {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1;
}

.carousel.expansion .carousel-right p {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.carousel.expansion .carousel-right [aria-selected="true"] p {
  max-height: 100px;
}

@media (width >= 900px) {
  .carousel.expansion {
    flex-direction: row;
  }
}