.carousel {
  position: relative;
}

.carousel.expansion {
  display: flex;
  gap: var(--spacing-s);
}

.carousel.expansion picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.carousel.expansion img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
