.navigation-container {
  position: sticky;
  top: 0;
  z-index: 2;
}

.navigation nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-charcoal);
  color: var(--color-white);
  padding: 0 var(--horizontal-spacing);
  height: 88px;
  position: relative;
}

.navigation nav .navigation-list-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

@media (width >= 600px) {
    .navigation nav .navigation-list-wrapper.navigation-left-scroll::before {
        content: "";
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 40px;
        height: 100%;
        background: linear-gradient(to right, var(--color-charcoal), transparent);
    }

    .navigation nav .navigation-list-wrapper::after {
        content: "";
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        width: 40px;
        height: 100%;
        background: linear-gradient(to left, var(--color-charcoal), transparent);
    }
}

.navigation nav ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    list-style: none;
    margin: 0;
    overflow-x: scroll;
    padding-left: 0;
    padding-right: var(--spacing-xl);
    position: relative;
    align-items: center;
    height: 100%;
  }

@media (width >= 600px) {
  .navigation nav ul {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.navigation nav ul li {
  position: relative;
  align-items: center;
  height: 100%;
  display: none;
  width: 100%;
  padding-right: 40px;
}

  @media (width >= 600px) {
    .navigation nav ul li {
      width: fit-content;
      display: flex;
      padding-right: unset;
    }
  }

  .navigation nav ul li[aria-selected="true"] {
    display: flex;
  }

@media (width >= 600px) {
    .navigation nav ul li[aria-selected="true"]::before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(50% - 13px);
        width: 26px;
        height: 5px;
        background-color: var(--color-red);
    }
}

.navigation nav ul::-webkit-scrollbar {
    display: none;
  }
  
.navigation nav ul li a:any-link {
  color: inherit;
  text-decoration: none;
  font-size: var(--detail-size-xl);
  text-transform: uppercase;
  letter-spacing: 1.75px;
}

.navigation nav ul li::after {
  content: "\002304";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  pointer-events: none;
}

.navigation nav ul li[aria-expanded="true"]::after {
    height: 100%;
    content: "\002303";
}

@media (width >= 600px) {
  .navigation nav ul li::after {
    display: none;
  }

  .navigation nav ul li a:any-link {
    white-space: nowrap;
  }
}

.navigation .navigation-popover {
  position: absolute;
  width: 100%;
  height: fit-content;
  background-color: var(--color-charcoal);
  color: var(--color-white);
  z-index: 1;
}

.navigation .navigation-popover ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation .navigation-popover ul li {
    border-top: 1px solid var(--color-white);
    padding: var(--spacing-m)var(--horizontal-spacing);
    display: flex;
    font-size: var(--detail-size-xs);
}

.navigation .navigation-popover ul li a:any-link {
  color: inherit;
  text-decoration: none;
  font-size: var(--detail-size-xl);
}
